<div class="back_ground">
  <div class="container">
    <section class="contact__box">
      <h2>Contact.</h2>
      <p>
        Get in touch or shoot me an email directly on
        <strong>{{myEmail}}</strong>
      </p>

      <div class="contact__container">
        <form [action]="apiUrl" method="POST" class="form">
          <input type="hidden" name="accessKey" [value]="accessKey" />
          <input
            type="hidden"
            name="redirectTo"
            [value]="afterSubmitRedirecTo"
          />
          <input
            class="input"
            type="text"
            name="name"
            id="name"
            placeholder="Name"
            required
            minlength="2"
          />
          <input
            class="input"
            type="email"
            name="email"
            id="email"
            placeholder="Email"
            required
            minlength="12"
            maxlength="50"
          />
          <textarea
            class="input"
            type="text"
            name="message"
            id="message"
            placeholder="Message"
            minlength="2"
          ></textarea>
          <input class="submit" type="submit" value="Send Message" />
        </form>
      </div>

      <app-footer route="home"></app-footer>
    </section>
  </div>
</div>
