<div class="back_ground">
  <div class="container">
    <section class="about__box">
      <h2>About me.</h2>

      <div class="about__me-container">
        <div class="origin__box">
          <h3>Origin</h3>
          <p>
            I am of <u>Brazilian origin</u> and I really like the cultures from
            outside countries, mainly from the <u>United States</u>. I currently
            have <u>18 years old</u> and, even after 3 years of constant
            learning in this area, I love learning new languages, taking courses
            and improving myself more and more in this area.
          </p>
        </div>
        <div class="advantages__box">
          <h3>Advantages</h3>
          <ul>
            <li>Capacity for group work and leadership.</li>
            <li>Focus on meeting deadlines.</li>
            <li>Skill in problem solving.</li>
            <li>Always open to new knowledge.</li>
          </ul>
        </div>
        <div class="objetive__box">
          <h3>Objetive</h3>
          <p>
            I intend to further develop my skills and expand my knowledge with a
            company, always giving my best to a job well done
          </p>
        </div>
      </div>
      <app-footer route="contact"></app-footer>
    </section>

    <!-- <app-circles
      [borderItem]="'1px solid var(--blueShadow)'"
      [backgroundColorItem]="'transparent'"
      [top]="'40vh'"
      [left]="'45vw'"
    />
  
    <app-circles
      [width]="'100px'"
      [height]="'50px'"
      [backgroundColorItem]="'var(--blueShadow)'"
      [bottom]="'10vh'"
      [right]="'20vw'"
    />
    <app-circles
      [height]="'150px'"
      [border]="'1px solid rgba(0, 0, 0, .2)'"
      [backgroundColorItem]="'transparent'"
      [top]="'10vh'"
      [right]="'18vw'"
      [boxShadow]="'100px 100px 0 rgba(0, 0, 0, .1)'"
    />
  
    <app-circles
      [width]="'30px'"
      [height]="'30px'"
      [backgroundColorItem]="'transparent'"
      [border]="'1px solid rgba(0, 0, 0, .1)'"
      [bottom]="'5vh'"
      [radius]="'50%'"
      [left]="'12vw'"
      [boxShadow]="'inset -4px 5px 3px 1px rgba(200, 200, 200, .3)'"
    />
    <app-circles
      [width]="'30px'"
      [height]="'30px'"
      [backgroundColorItem]="'transparent'"
      [border]="'1px solid rgba(0, 0, 0, .08)'"
      [bottom]="'5vh'"
      [left]="'15vw'"
      [radius]="'50%'"
      [boxShadow]="'inset -4px 5px 3px 1px rgba(200, 200, 200, .3)'"
    />
    <app-circles
      [width]="'30px'"
      [height]="'30px'"
      [backgroundColorItem]="'transparent'"
      [border]="'1px solid rgba(0, 0, 0, .1)'"
      [bottom]="'5vh'"
      [left]="'18vw'"
      [radius]="'50%'"
      [boxShadow]="'inset -4px 5px 3px 1px rgba(200, 200, 200, .3)'"
    />
    <app-circles
      [width]="'100px'"
      [height]="'100px'"
      [backgroundColorItem]="'transparent'"
      [borderItem]="'1px solid var(--green)'"
      [top]="'5vh'"
      [left]="'16vw'"
    /> -->
  </div>
</div>
