<div class="back_ground">
  <div class="container">
    <section class="about__box" [@fadeAnimation]>
      <h2>About me.</h2>

      <div class="about__me-container">
        <div class="origin__box">
          <h3>Origin</h3>
          <p class="item-anime">
            I am of <u>Brazilian origin</u> and I really like the cultures from
            outside countries, mainly from the <u>United States</u>. I currently
            have <u>18 years old</u> and, even after 3 years of constant
            learning in this area, I love learning new languages, taking courses
            and improving myself more and more in this area.
          </p>
        </div>
        <div class="advantages__box">
          <h3>Advantages</h3>
          <ul>
            <li class="item-anime">Capacity for group work and leadership.</li>
            <li class="item-anime">Focus on meeting deadlines.</li>
            <li class="item-anime">Skill in problem solving.</li>
            <li class="item-anime">Always open to new knowledge.</li>
          </ul>
        </div>
        <div class="objetive__box">
          <h3>Objetive</h3>
          <p class="item-anime">
            I intend to further develop my skills and expand my knowledge with a
            company, always giving my best to a job well done
          </p>
        </div>
      </div>
      <app-footer route="contact"></app-footer>
    </section>
  </div>
</div>
