.header {
  width: 100vw;
  height: 20vh;
  max-width: 2000px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  padding: 0 8em;
  z-index: 20;
  backdrop-filter: blur(5px);

  .logo {
    a {
      font-size: 0.9em;
      color: var(--green);
    }

    .dot {
      color: var(--white);
    }
  }

  .move {
    animation: movement .2s 7;
  }
  
  @keyframes movement {
    0% { transform: rotate3d(0, 0, 1, 10deg) scale(.9) }
    50% { transform: rotate3d(0, 0, -1, 10deg) scale(.9) }
    100% { transform: rotate3d(0, 0, 1, 10deg) scale(.9) }
  }

  .menu__toggle {
    display: none;
  }

  .items {
    display: flex;
    align-items: center;
    gap: 2.5em;
    counter-reset: li;

    li {
      counter-increment: li;
      transition: all 0.3s ease-in-out;
      cursor: pointer;

      &::before {
        content: counter(li);
        color: var(--green);
        font-weight: 600;
        font-size: 1.3em;
        display: inline-block;
        width: 1em;
        margin-right: -0.5em;
      }

      &:hover {
        transform: scale(1.1);
      }

      a {
        color: var(--white);

        &::before {
          content: ".";
          color: var(--green);
          font-weight: 600;
          font-size: 1.3em;
          display: inline-block;
          margin: 3px;
        }
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .header {
    height: 15vh;
    padding: 0 2em;

    .logo {
      a {
        font-size: 0.8em;
      }
    }

    .menu__toggle {
      display: block;
      width: 40px;
      height: 20px;
      position: relative;
      cursor: pointer;

      &::before,
      &::after {
        content: "";
        position: absolute;
        background-color: var(--white);
        border-radius: 5px;
        height: 5px;
      }

      &::before {
        width: 100%;
        left: 0;
      }

      &::after {
        width: 70%;
        right: 0;
        bottom: 0;
      }
    }

    .items {
      display: none;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
      gap: 0;
      width: 80%;
      max-width: 400px;
      position: absolute;
      left: 50%;
      top: 15vh;
      transform: translateX(-50%);
      background-color: rgba(#fff, 0.1);
      backdrop-filter: blur(5px);
      border-radius: 10px;

      li {
        width: 100%;
        text-align: center;
        counter-increment: none;
        transition: all 0.3s ease-in-out;
        cursor: pointer;
        padding: 1em;
        font-size: 2em;
        font-weight: 600;

        &::before {
          content: "";
          font-size: 0;
        }

        &:hover {
          transform: none;
        }

        a {
          position: relative;

          &::before {
            content: "";
            width: 25px;
            height: 5px;
            background-color: var(--blue);
            position: absolute;
            right: 0;
            bottom: 5px;
            border-radius: 5px;
          }
        }
      }
    }

    .showMenu {
      display: flex !important;
    }
  }
}
