.skills__box {
  .my-skills__box {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1em;
    margin-top: 1em;
  }
}

@media screen and (max-width: 768px) {
  .skills__box {
    .my-skills__box {
      display: grid;
      grid-template-columns: repeat(1, 1fr);
      gap: 0 !important;
      row-gap: 0.5em;
    }
  }
}
