<div class="back_ground">
  <div class="container">
    <section class="skills__box" [@fadeAnimation]>
      <h2>Skills</h2>
      <p class="item-anime">
        Currently, I have a lot of knowledge in
        <strong>HTML, CSS, JS</strong> and a basic understanding of the
        <strong>Angular framework</strong>, in addition to that I also have the
        ability to use the Gimp tool for image editing. But, if you read the
        section about me, you must be wondering why make the portfolio in
        English if you are Brazilian, speak Portuguese, so I did it, not only
        because I like the language, but also because I have a huge desire to
        working outside Brazil, going beyond borders and having a good knowledge
        of this language.
      </p>

      <div class="my-skills__box">
        <app-card-skill *ngFor="let data of dataSkills" [data]="data"></app-card-skill>
      </div>
      
      <app-footer route="home"></app-footer>
    </section>

    <!-- ELEMENTS THE DESIGN  -->
    <app-design
      [width]="'150px'"
      [height]="'150px'"
      [border]="'1px solid var(--greenShadow)'"
      [radius]="'50%'"
      [bottom]="'3vh'"
      [zindex]="'1'"
      [left]="'-3vw'"
      [backgroundColorItem]="'transparent'"
    ></app-design>
  </div>
</div>
